//Solid Colours
.Scotiabank-colour {
  background: rgba(28, 1, 1, 0.685);
}

.UWI-DCIT-colour {
  background: rgba(8, 1, 31, 0.685);
}

//Gradients
.Scotiabank-gradient {
  background: linear-gradient(
    15deg,
    rgba(180, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(204, 0, 0, 0.2) 100%
  );
}

.UWI-DCIT-gradient {
  background: linear-gradient(
    15deg,
    rgba(0, 75, 180, 0.15) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 95, 204, 0.15) 100%
  );
}
