.tag {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.4rem;
  border-radius: 5px;
  font-size: 1.2rem;

  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: rgba(65, 65, 65, 0.318);

  transition:
    transform 0.2s ease,
    filter 0.2s ease;

  &:hover {
    transform: scale(1.15);
    filter: brightness(1.2);
  }

  .tag-icon {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
  }
}
