@use "../../styles/index" as *;

.about-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 95%;

  margin-left: 7.5vh;
  gap: 10vw;
}

.background-shapes {
  position: fixed;
}

.about-card {
  display: flex;
  flex-direction: column;
  gap: 2.2vh;
  flex: 1;

  margin-top: 7.5vh;
  padding: 2vh;

  background-color: $surface-colour;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
  }

  .about-header {
    position: relative;
    margin: 0vh;
    margin-left: 0.5vw;

    color: $primary-colour-two;
    font-family: $main-font;
    font-weight: 800;
    font-size: 1.3rem;

    &::before {
      content: "";
      position: absolute;
      top: 0.5vh;
      left: -0.5vw;

      width: 0.25vw;
      height: 2.75vh;
      background-color: $primary-colour-two;
    }
  }

  .about-paragraph {
    margin: 0;

    color: $text-colour;
    font-family: $main-font;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 3vh;
  }

  .paragraph-divider {
    position: absolute;
    bottom: -1.5vh;
    right: 1vw;

    width: 20%;
    height: 0.5vh;
    background-color: $primary-colour-two;
  }
}

.education-section {
  display: flex;
  gap: 1.5vw;

  .education-details {
    display: flex;
    flex-direction: column;

    .degree {
      margin-bottom: -0.2vh;
    }

    .institution {
      font-style: italic;
      font-size: 1.05rem;
    }
  }

  .gpa {
    color: $text-colour;
    font-family: $main-font;
    font-weight: 900;
    font-size: 1rem;

    span {
      font-weight: 300;
    }
  }
}

.email-header {
  margin: 0vh;
  margin-top: 1.5vh;

  color: $primary-colour-two;
  font-family: $main-font;
  font-weight: 800;
  font-size: 1.3rem;
}

.email {
  color: $text-colour;
}

.resume-download {
  display: flex;
  gap: 0.5vw;

  margin-top: -1vh;
  width: fit-content;

  padding: 0.8vh 1vh;
  border-radius: 10px;

  background-color: $primary-colour-two;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  color: white;
  font-family: $main-font;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;

  .resume-download-icon {
    font-size: 1.4rem;
  }

  transition: all 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
    scale: 1.04;
  }
}

.skill-section {
  flex: 2;

  .skill-header {
  }
}
