$primary-colour-one: #3f0404;
$primary-colour-two: #651a01;

$accent-colour-one: #a01300;

$surface-colour: #231f1f;
$text-colour: #d6d6d6;

$main-gradient: linear-gradient(
  35deg,
  $primary-colour-one 0%,
  $primary-colour-two 100%
);
$card-header-gradient: linear-gradient(
  35deg,
  $primary-colour-two 0%,
  $primary-colour-one 100%
);

$github-gradient: linear-gradient(35deg, #24292e 0%, #3a3f46 100%);
$demo-gradient: linear-gradient(65deg, #651a01 0%, #851405 100%);
