$primary-colour-one: #3f0404;
$primary-colour-two: #651a01;

$accent-colour-one: #a01300;

$surface-colour: #231f1f;
$text-colour: #d4d4d4;

$main-gradient: linear-gradient(
  35deg,
  $primary-colour-one 0%,
  $primary-colour-two 100%
);
$card-header-gradient: linear-gradient(
  35deg,
  $primary-colour-two 0%,
  $primary-colour-one 100%
);
