$nav-item-shape: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
$nav-background-shape-one: polygon(75% 0%, 0% 0%, 25% 100%, 100% 100%);
$nav-background-shape-two: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
