@use "../../styles/index" as *;

.project-details-container {
  position: fixed;
  inset: 0;

  margin: auto;

  width: 80vw;
  height: 85vh;
  background: $surface-gradient;

  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;

  z-index: 10;

  .close-button {
    display: flex;
    position: absolute;
    top: 1vh;
    right: 0.5vw;

    border-radius: 25px;
    border: none;

    padding: 0.4rem;

    &-icon {
      margin: auto;
      font-size: 1rem;
    }

    :hover {
      cursor: pointer;
    }
  }

  .project-title {
    position: absolute;
    top: -6vh;
    left: -2vw;

    background: $main-gradient;
    color: white;

    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;

    clip-path: $card-title-shape;

    padding: 0.55rem 2.75rem;

    font-family: $main-font;
    font-size: 2.75rem;
  }
}
