@use "../../styles/index" as *;

.hero-section {
  position: absolute;
  top: 2vh;
  left: 2vw;
  margin: 20px;
  font-size: 2.2rem;
  color: white;

  .hero-font {
    font-family: $hero-font;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: -1.74px;
    line-height: 50px;
    font-style: italic;
    margin: 5vh 0px 4vh 0px;
  }

  .bottom-hero-font {
    font-style: italic;
  }

  .hero-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 5px;
    font-size: 50px;

    a {
      filter: grayscale(100%);
      transition: all 0.25s ease-in-out;
    }

    a:hover {
      filter: grayscale(0%);
      scale: 1.1;
    }
  }
  z-index: 10;
}
