.hero-section {
  position: absolute;
  top: 2vh;
  left: 2vw;
  margin: 20px;
  font-size: 2rem;
  color: white;

  .hero-font {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: -1.74px;
    line-height: 50px;
    font-style: italic;
    margin: 5vh 0px 5vh 0px;
  }

  .bottom-hero-font {
    font-style: italic;
  }

  .hero-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 5px;
    font-size: 50px;

    .linkedin-icon {
      color: grey;
      transition: all 0.3s ease-in-out;
    }

    .linkedin-icon:hover {
      color: #0077b5;
    }

    .github-icon {
      color: grey;
      transition: all 0.3s ease-in-out;
    }

    .github-icon:hover {
      color: white;
    }
  }
}
