@use "../../styles/index" as *;

.timeline {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 95%;
  height: 100%;

  z-index: 4;
}

.year-container {
  position: absolute;
  inset: 0;
  margin: auto;

  width: 95%;

  .year-marker {
    position: absolute;
    top: 45%;

    font-size: 2.4vh;
    font-family: $main-font;
    color: $text-colour;
    white-space: nowrap;
  }
  z-index: 4;
}

.experience-grid {
  position: absolute;
  inset: 0;
  margin: auto;

  display: grid;

  height: 60%;
  width: 94.8%;

  z-index: 3;
}

.experience-region {
  height: 50%;
  width: 100%;

  background: $main-gradient;

  z-index: 3;

  &.above {
    align-self: start;
    border-radius: 15px 15px 0px 0px;
  }

  &.below {
    align-self: end;
    border-radius: 0px 0px 15px 15px;
  }
}

.experience-marker {
  .marker-header {
    clip-path: $experience-card-shape;
    background: $main-gradient;
    color: white;

    padding: 1vh 4vh 2vh 4vh;

    font-size: 2.4vh;
    font-family: $main-font;
    color: $text-colour;

    z-index: 7;
  }

  .marker-body {
    z-index: 6;
  }

  .marker-area {
    z-index: 5;
  }
}
