@use "../../styles/index" as *;

.timeline {
  @include timeline-setup;
}

.year-container {
  @include timeline-setup;

  .year-marker {
    position: absolute;

    font-size: 2.4vh;
    font-family: $main-font;
    color: $text-colour;
    white-space: nowrap;
  }
}

.experience-container {
  position: absolute;
  inset: 0;
  margin: auto;

  width: 95%;

  z-index: 3;
}
