@use "../../styles/index" as *;

.timeline {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 95%;
  height: min-content;

  z-index: 4;
}

.year-container {
  position: absolute;
  inset: 0;
  margin: auto;

  width: 95%;
  height: min-content;

  .year-marker {
    position: absolute;
    transform: translateY(-100%);

    font-size: 2.4vh;
    font-family: $main-font;
    color: $text-colour;
    white-space: nowrap;
  }
  z-index: 4;
}

.experience-container {
  position: absolute;
  inset: 0;
  margin: auto;

  width: 95%;

  z-index: 3;
}

.experience-region {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 50%;
  height: 18vh;

  background: $surface-colour;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  z-index: 3;

  &.above {
    transform: translateY(-100%);
    border-radius: 15px 15px 0px 0px;
  }

  &.below {
    transform: translateY(0%);
    border-radius: 0px 0px 15px 15px;
  }

  .experience-image {
    width: auto;
    height: 12vh;
    opacity: 0.2;
  }

  .overlay-color {
    position: absolute;
    inset: 0;

    &.above {
      border-radius: 15px 15px 0px 0px;
    }

    &.below {
      border-radius: 0px 0px 15px 15px;
    }

    z-index: 4;
  }
}

.experience-marker {
  position: absolute;

  &.above {
    top: 8%;
  }

  &.below {
    bottom: 8%;
  }

  cursor: pointer;
  .marker-header {
    clip-path: $experience-card-shape;
    background: $main-gradient;
    color: white;

    width: 16vw;
    padding: 1vh 0.8vh;
    text-align: center;

    font-size: 3vh;
    font-family: $main-font;
    font-weight: 600;
    color: $text-colour;

    box-shadow:
      rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    z-index: 7;
  }

  .marker-body {
    background: $surface-colour;

    width: 16vw;

    z-index: 6;
  }
  z-index: 6;
}
