@import-normalize;

html,
body {
  min-width: 1200px;
}

body {
  margin: 0;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1a1a;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}
