@import-normalize;

body {
    margin: 0;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1f1a1a;
    overflow: hidden;
    display: block;
  }